<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>


<%= link_to 'My Recipes', recipes_path%></br>
<%=link_to 'My Reviews', reviews_path%></br>
<%=link_to "Search recipes to review",  search_path%>



