</br>

<div style='border 10px orange'>
_testuser form

this is params<%=params.inspect%>
<%#=params[:test]%>
</br>
this is test<%#=@test%>
</br>
	<%#=current_user.email%>
</br>
<%=@temp%>
<%=@review%>
<% if params[:id].nil?%>
	<p>params id is nil</p>

<%end%>
	<%#=current_user.id%>

</br>
	<%#=@recipes.ingredients%>
</div>





